WL_SITE_PORT=8081
WL_BASE_URL=http://localhost:8081/
WL_STORAGE_HOST_PATH=/opt/wl/arquivos

WL_DB_PORT=3307
WL_DB_NAME=wl
WL_DB_USER=wl
WL_DB_PASSWORD=troque_esta_senha
WL_DB_ROOT_PASSWORD=troque_esta_senha_root

WL_NAS_SHARE=/srv/wl

WL_TIMEZONE=America/Sao_Paulo
